{% extends "base_nav.html" %}

{% block breadcrumb %}
	<ul>
		<li class="complete" title="Find out what you're in for">Welcome</li>
		<li class="complete" title="Introduce Picasitude to Google">Authorization</li>
		<li class="active" title="Select your photos to update">Selection</li>
		<li class="" title="Sync your picas to your itude">Sync</li>
	</ul>
{% endblock breadcrumb %}

{% block content %}
	<h2>Selection</h2>
	<p>Which of your numerous albums would you like to geotag?</p>
	
	<form action="/sync" method="POST">
		<input type="hidden" name="auth_token" value="{{ auth_token }}">
		<select name="album">
			{% for album in albums %}
			<option value="{{ album.1 }}">{{ album.0|escape }}</option>
			{% endfor %}
		</select>
		<br>
		<input type="submit" value="Get to syncing!"></input>
	</form>
{% endblock content %}
