{% extends "base_nav.html" %}

{% block breadcrumb %}
	<ul>
		<li class="complete" title="Find out what you're in for">Welcome</li>
		<li class="active" title="Introduce Picasitude to Google">Authorization</li>
		<li class="" title="Select your photos to update">Selection</li>
		<li class="" title="Sync your picas to your itude">Sync</li>
	</ul>
{% endblock breadcrumb %}

{% block content %}
	<h2>Authorization</h2>
	<p>In order to talk to Google and ask for access to your photos and locations, we need your permission. We will never have access to your credentials, that's between you and Google.</p>
	<p>We will send you over to Google's site and once you grant Picasitude access, Google will let us know and send you back here to continue the sync process.</p>

	        <form method='get' action='/init_auth'>
			<input type="submit" value="Yeah, yeah. Let's go!"></input>
		</form>

{% endblock content %}
